body {
    font-family: 'Comic Sans MS', skribble, sans-serif;
    background-color: #f0e6f6;
    text-align: center;
    padding: 20px;
  }
  
  .quiz-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 0 auto;
  }
  
  h1 {
    color: #ff6f61;
  }
  
  #question {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  
  .option {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #ffdd57;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    font-family: 'Comic Sans MS', skribble, sans-serif;
  }
  
  .option:hover {
    background-color: #ffcc00;
  }
  
  #next-btn {
    justify-content: center;
    padding: 10px 20px;
    background-color: #ff6f61;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
  }
  
  #next-btn:hover {
    background-color: #ff4a3d;
  }

  .button-container {
    display: flex;
    justify-content: center; /* Centers the button horizontally */
    margin-top: 20px;
  }
  
  
  .hidden {
    display: none;
  }
  
  #drumroll {
    font-size: 2em;
    margin: 20px 0;
  }
  
  #result-image {
    max-width: 40%;
    max-height: 10%;
    border-radius: 10px;
    margin: 20px 0;
    animation: tweak 0.5s infinite;
  }
  
  @keyframes tweak {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
  }